@import "../../_globalColor";

.plog-card {
  width: calc(33.33% - 16px);
  background-color: $lightBackground1;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
}

.plog-image-div {
  width: 100%;
//   height: 200px;
  overflow: hidden;
}

.plog-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plog-detail-div {
    display:flex;
    justify-content: center;
    padding: 0px 20px;
    // margin-top: -20px;
}

.plog-card-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: $textColor;
}

.plog-card-subtitle {
  font-size: 0.95rem;
  color: $subTitle;
  line-height: 1.5;
}

/* Dark Mode Styles */
.dark-mode {
  .plog-card {
    background-color: $darkBackground;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }

  .plog-card-title {
    color: $textColorDark;
  }

  .plog-card-subtitle {
    color: $textColorDark;
  }
}