@import "../../_globalColor";

.plog-header {
  @extend .common-header;
}

.plog-main-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
//   padding: 0 20px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

/* Dark Mode Styles */
.dark-mode {
  .plog-header-text {
    color: $textColorDark;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .plog-header {
    .plog-header-text {
      font-size: 2rem;
    }
  }

  .plog-main-div {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}